<div class="column is-half is-offset-one-quarter">
  <div class="columns">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by4 forgot-password-image">
          <%= image_tag(user_avatar(resource)) %>
        </figure>
      </div>
      <div class="card-content">

        <div class="media">
          <div class="media-content has-text-centered">
          <h2 class='title title is-4 is-center is-uppercase is-centered'>Edit <%= resource_name.to_s.humanize %></h2>
          </div>
        </div>

        <div class="content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username %>
            </div>

            <div class="field">
              <%= f.label :avatar %><br />
              <%= f.file_field :avatar %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Update" %>
            </div>
          <% end %>
        </div>
          <%= link_to "Back", :back %>
      </div>
      <div class="card-content has-background-grey">
        <div class="content">
          <h3 class="subtitle">Unhappy? Cancel my account</h3>
          <%= button_to "Cancel my account", registration_path(resource_name), class: 'button is-danger is-small', data: { confirm: "Are you sure? Once done it's done!" }, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="column is-half is-offset-one-quarter">
  <div class="columns">
    <div class="card">
      
    </div>
  </div>
</div>