<%= form_with(model: kite, local: true) do |form| %>
  <% if kite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kite.errors.count, "error") %> prohibited this kite from being saved:</h2>

      <ul>
        <% kite.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="columns is-centered">
    <div class="column">
      <div class="field">
        <%= form.label :condition, class: 'label' %>
        <%= form.select :condition, kite_condition %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :year, class: 'label' %>
        <%= form.select(:year, (Time.zone.now.year + 1).downto(Time.zone.now.year - 20), {}, { :class => 'select' }) %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :classified_type, "Type", class: 'label' %>
        <%= form.select(:classified_type, classified_type, {}, { :class => 'select' }) %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :brand_id, "Brand Name", class: 'label' %>
        <%= form.select(:brand_id, Brand.all.collect { |brand| [brand.brand_name, brand.id] }, {:class => 'select'}) %>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column">
      <div class="field">
        <%= form.label :kite_type, "Model", class: 'label' %>
        <%= form.text_field :kite_type %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :size, "Size", class: 'label' %>
        <%= form.text_field :size, placeholder: ' Just enter a number' %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :price, "Price in US$", class: 'label' %>
        <%= form.text_field :price %>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column">
      <div class="field">
        <%= form.label :country, class: 'label' %>
        <%= form.text_field :country %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :city, class: 'label' %>
        <%= form.text_field :city %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :zip, class: 'label' %>
        <%= form.text_field :zip %>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.rich_text_area :description, rows: 80 %>
      </div>
      <div class="field">
        <%= form.label :images, class: 'label' %>
        <%= form.file_field :images, multiple: true, class: 'button image-uploader' %>
      </div>
      <div class="actions">
        <%= form.submit "Place Ad", class: 'button is-success'  %>
      </div>
    </div>  
  </div>
<% end %>