<div class="column is-one-third is-offset-one-third">
  <div class="columns">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3 forgot-password-image">
          <%= image_tag('forgot-password-icon.svg', alt: 'reset-password-icon') %>
          
        </figure>
      </div>
      <div class="card-content">

        <div class="media">
          <div class="media-content has-text-centered">
          <h2 class='title title is-4 is-center is-uppercase is-centered'>Forgot your password?</h2>
          </div>
        </div>

        <div class="content">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions", class: 'button is-info is-fullwidth' %>
            </div>
          <% end %>
        </div>
          <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>