<h1>Admin_Dash</h1>
<div class="container">
  <div class="columns">
    <div class="column">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hello, Admin
            </h1>
            <h2 class="subtitle">
              I hope you are having a great day!
            </h2>
          </div>
        </div>
      </section>
      <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class='title'><%= @users.count %></p>
              <p class="subtitle">Users</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class='title'><%= @kites.count %></p>
              <p class="subtitle">Active Ads</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">XXX</p>
              <p class="subtitle">Sold Items</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">XXXX.XX</p>
              <p class="subtitle">Total Sold</p>
            </article>
          </div>
        </div>
      </section>
      <div class="columns">
        <div class="column is-6">
          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">
                NEWEST USERS
              </p>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped">
                  <tbody>
                  <% @newest_users.each do |user| %>
                    <tr>
                      <td width="5%"><i class="fa fa-user"></i></td>
                      <td><%= "#{my_username(user)}: #{user.email} Signed up: #{time_ago_in_words(user.created_at)}" %></td>
                      <td class="level-right">
                      <%= link_to "Delete User", '#', class: 'button is-small is-danger' %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">
                LATEST ITEMS
              </p>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped">
                  <tbody>
                  <% @latest_items.each do |item| %>
                    <tr>
                      <td width="5%"><i class="fa fa-user"></i></td>
                      <td><%= "#{item.id}: #{item.year} #{item.brand.brand_name} #{time_ago_in_words(item.created_at)}" %></td>
                      <td class="level-right">
                      <%= link_to "Suspend Ad", '#', class: 'button is-small is-warning' %>
                      <%= link_to "Delete Ad", '#', class: 'button is-small is-danger' %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <div class="column is-6">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Inventory Search
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-large" type="text" placeholder="">
                  <span class="icon is-medium is-left">
                    <i class="fa fa-search"></i>
                  </span>
                  <span class="icon is-medium is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                User Search
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-large" type="text" placeholder="">
                  <span class="icon is-medium is-left">
                    <i class="fa fa-search"></i>
                  </span>
                  <span class="icon is-medium is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
